/* Fonts */

@font-face {
    font-family:'Soure Sans Pro';
    src:url('../fonts/sourcesanspro.eot');
    src:url('../fonts/sourcesanspro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourcesanspro.woff') format('woff'),
        url('../fonts/sourcesanspro.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Soure Sans Pro';
    src:url('../fonts/sourcesanspro-bold.eot');
    src:url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourcesanspro-bold.woff') format('woff'),
        url('../fonts/sourcesanspro-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Soure Sans Pro';
    src:url('../fonts/sourcesanspro-semibold.eot');
    src:url('../fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/sourcesanspro-semibold.woff') format('woff'),
        url('../fonts/sourcesanspro-semibold.ttf') format('truetype');
    font-weight:600;
    font-style:normal;
}
@font-face {
    font-family:'Alegreya';
    src:url('../fonts/alegreya-bold.eot');
    src:url('../fonts/alegreya-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/alegreya-bold.woff') format('woff'),
        url('../fonts/alegreya-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Alegreya';
    src:url('../fonts/alegreya-extrabold.eot');
    src:url('../fonts/alegreya-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/alegreya-extrabold.woff') format('woff'),
        url('../fonts/alegreya-extrabold.ttf') format('truetype');
    font-weight:900;
    font-style:normal;
}

/* Default */

html {
	height:100%;
}
html * {
	max-height:1000000px;
	vertical-align:top;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
html *:before,
html *:after {
	vertical-align:top;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
body {
	width:100%;
	height:100%;
	color:#1e1e1e;
	font-size:12px;
	line-height:16px;
    font-family:'Soure Sans Pro', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
	-webkit-tap-highlight-color:transparent;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#1e1e1e;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#000000;
	font-size:12px;
    font-family:'Soure Sans Pro', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
textarea {
	overflow:auto;
}
button {
    font-family:'Soure Sans Pro', sans-serif;
	margin:0;
	border:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder  {
	color:#a8a8a8;
}
:-moz-placeholder {
	color:#a8a8a8;
}
::-moz-placeholder {
	color:#a8a8a8;
}
:-ms-input-placeholder {
	color:#a8a8a8;
}
.img-cover,
.img-contain {
	display:none !important;
}
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading.slick-track{visibility:hidden}.slick-slider{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
div.checker,div.radio{position:relative}div.checker,div.checker input,div.checker span,div.radio,div.radio input,div.radio span{width:20px;height:20px;cursor:pointer}div.checker input,div.radio input{filter:alpha(opacity=0);border:none}div.checker span,div.radio input,div.radio span{zoom:1;text-align:center}div.checker span{position:relative;display:-moz-inline-box;display:inline-block;border:1px solid #852a34}div.checker span.checked:before{content:'';position:absolute;left:3px;top:5px;width:12px;height:8px;background:url('../img/checker-icon.svg')}div.checker input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block;zoom:1}div.radio span{display:-moz-inline-box;display:inline-block;position:realtive;width:22px;height:22px;border:1px solid #a1a1a1;-webkit-border-radius:50%;border-radius:50%;}div.radio span.checked:after{content:'';position:absolute;left:5px;top:5px;width:12px;height:12px;background:#333333;-webkit-border-radius:50%;border-radius:50%;}div.radio input{opacity:0;-moz-opacity:0;background:0 0;display:-moz-inline-box;display:inline-block}
.fancybox-image,.fancybox-inner,.fancybox-nav,.fancybox-nav span,.fancybox-outer,.fancybox-skin,.fancybox-tmp,.fancybox-wrap,.fancybox-wrap iframe,.fancybox-wrap object{padding:0;margin:0;border:0;outline:0;vertical-align:top}.fancybox-wrap{position:absolute;top:0;left:0;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:8020}.fancybox-inner,.fancybox-outer,.fancybox-skin{position:relative}.fancybox-skin{background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.fancybox-opened{z-index:8030}.fancybox-inner{overflow:hidden}.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap}.fancybox-iframe,.fancybox-image{display:block;width:100%;height:100%}.fancybox-image{max-width:100%;max-height:100%}#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../img/fancybox_sprite.png)}#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:.8;cursor:pointer;z-index:8060}.fancybox-close,.fancybox-nav,.fancybox-nav span{cursor:pointer;z-index:8040;position:absolute}#fancybox-loading div{width:44px;height:44px;background:url(../img/fancybox_loading.gif) center center no-repeat}.fancybox-close{top:-18px;right:-18px;width:36px;height:36px}.fancybox-nav{top:0;width:40%;height:100%;text-decoration:none;background:url(../img/blank.gif);-webkit-tap-highlight-color:transparent}.fancybox-prev{left:0}.fancybox-next{right:0}.fancybox-nav span{top:50%;width:36px;height:34px;margin-top:-18px;visibility:hidden}.fancybox-prev span{left:10px;background-position:0 -36px}.fancybox-next span{right:10px;background-position:0 -72px}.fancybox-nav:hover span{visibility:visible}.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;max-width:99999px;max-height:99999px;overflow:visible!important}.fancybox-lock{overflow:visible!important;width:auto}.fancybox-lock body{overflow:hidden!important}.fancybox-lock-test{overflow-y:hidden!important}.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(../img/fancybox_overlay.png)}.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}.fancybox-title{visibility:hidden;font:400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050}.fancybox-opened .fancybox-title{visibility:visible}.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:0 0;background:rgba(0,0,0,.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap}.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}.fancybox-title-inside-wrap{padding-top:10px}.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0,0,0,.8)}@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){#fancybox-loading,.fancybox-close,.fancybox-next span,.fancybox-prev span{background-image:url(../img/fancybox_sprite@2x.png);background-size:44px 152px}#fancybox-loading div{background-image:url(../img/fancybox_loading@2x.gif);background-size:24px 24px}}
.wrapper {
	position:relative;
	z-index:1;
	min-width:320px;
	max-width:1320px;
	min-height:100%;
	padding:0 20px;
	margin:0 auto;
}
[data-animated].is-visible {
	-webkit-transition:-webkit-transform 0.5s ease-out;
	transition:transform 0.5s ease-out;
}

/* Core */

.header {
	position:relative;
	height:181px;
}
.header--logo {
	position:absolute;
	left:20px;
	top:50%;
	width:24.1%;
	display:block;
	margin-top:-12px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.header--logo img {
	width:100%;
	height:auto;
}
.header__lc {
	position:absolute;
	left:30.5%;
	padding-left:3.9%;
	margin-top:72px;
}
.header--address {
	float:left;
	width:250px;
	font-size:16px;
	line-height:23px;
	margin:0 40px 0 0;
}
.header--phone {
	float:left;
	display:block;
	color:#e41d37;
	font-size:26px;
	line-height:32px;
	font-weight:bold;
	text-shadow:0 1px 0 rgba(0,0,0,0.55);
	margin:1px 0 0;
}
.header--social {
	position:absolute;
	right:20px;
	top:57px;
}
.social-links a {
	float:left;
	display:block;
	width:46px;
	height:46px;
	margin-left:17px;
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:46px 46px;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.vkontakte-icon {
	background-image:url('../img/vkontakte-icon.png');
}
.instagram-icon {
	background-image:url('../img/instagram-icon.png');
}
.welcome {
	margin:0 0 122px 16.4%;
}
.welcome__slider {
	position:relative;
	z-index:1;
	margin:0 0 11px;
	background-color:#555555;
}
.welcome__slider .slick-prev,
.welcome__slider .slick-next {
	position:absolute;
	top:0;
	z-index:5;
	width:82px;
	height:100%;
	cursor:pointer;
	background:none;
}
.welcome__slider .slick-prev {
	left:0;
}
.welcome__slider .slick-next {
	right:0;
}
.welcome__slider .slick-prev:before,
.welcome__slider .slick-next:before {
	content:'';
	position:absolute;
	top:50%;
	width:42px;
	height:42px;
	margin-top:-21px;
	background-image:url('../img/welcome-arrows.png');
	background-repeat:no-repeat;
	background-size:84px 84px;
	opacity:0.8;
	-webkit-box-shadow:0 3px 4px rgba(0,0,0,0.22);
	box-shadow:0 3px 4px rgba(0,0,0,0.22);
	-webkit-transition:-webkit-box-shadow 0.3s ease-out, opacity 0.3s ease-out;
	transition:box-shadow 0.3s ease-out, opacity 0.3s ease-out;
}
.welcome__slider .slick-prev:before {
	left:20px;
	background-position:0 0;
}
.welcome__slider .slick-next:before {
	right:20px;
	background-position:0 -42px;
}
.welcome__slider .slick-prev:hover:before,
.welcome__slider .slick-next:hover:before {
	opacity:1;
	-webkit-box-shadow:0 3px 12px rgba(0,0,0,0.22);
	box-shadow:0 3px 12px rgba(0,0,0,0.22);
}
.welcome__item {
	height:515px;
}
.welcome__text {
	overflow:hidden;
	position:relative;
	height:22px;
}
.welcome__text span {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	color:#382016;
	font-size:20px;
	line-height:22px;
	font-weight:600;
	-webkit-transform:translateY(-100%);
	transform:translateY(-100%);
	-webkit-transition:none;
	transition:none;
}
.welcome__text span.is-visible {
	-webkit-transform:translateY(0);
	transform:translateY(0);
	-webkit-transition:-webkit-transform 0.5s ease-out;
	transition:transform 0.5s ease-out;
}
.welcome__text span.is-hidden {
	-webkit-transform:translateY(100%);
	transform:translateY(100%);
	-webkit-transition:-webkit-transform 0.5s ease-out;
	transition:transform 0.5s ease-out;
}
.welcome__text span i {
	color:#e41d37;
	font-style:normal;
}
.about {
	margin:0 0 102px;
}
.about__text {
	padding-left:3.9%;
	margin:0 20px 75px 30.5%;
}
.title-h1 {
	display:block;
	color:#382016;
	font-size:42px;
	line-height:50px;
	font-family:'Alegreya', serif;
	font-weight:900;
	padding:0;
	margin:0 0 38px;
}
.about__text p {
	font-size:18px;
	line-height:25px;
	margin:0 0 25px;
}
.about__gallery {
	margin:0 0 0 16.4%;
}
.about__gallery img {
	width:100%;
	height:auto;
}
.about__grid {
	position:relative;
	width:1080px;
	width:calc(100% + 10px);
	margin:0 0 -10px;
}
.about__item {
	position:absolute;
	display:block;
}
.about__item:nth-child(1) {
	left:0;
	top:0;
	width:31.96%;
	width:calc(31.96% - 10px);
	height:100%;
	height:calc(100% - 10px);
}
.about__item:nth-child(2) {
	left:31.96%;
	top:0;
	width:22.68%;
	width:calc(22.68% - 10px);
	height:50%;
	height:calc(50% - 10px);
}
.about__item:nth-child(3) {
	left:54.64%;
	top:0;
	width:45.36%;
	width:calc(45.36% - 10px);
	height:50%;
	height:calc(50% - 10px);
}
.about__item:nth-child(4) {
	left:31.96%;
	top:50%;
	width:22.68%;
	width:calc(22.68% - 10px);
	height:50%;
	height:calc(50% - 10px);
}
.about__item:nth-child(5) {
	left:54.64%;
	top:50%;
	width:22.68%;
	width:calc(22.68% - 10px);
	height:50%;
	height:calc(50% - 10px);
}
.about__item:nth-child(6) {
	left:77.32%;
	top:50%;
	width:22.68%;
	width:calc(22.68% - 10px);
	height:50%;
	height:calc(50% - 10px);
}
.schedule {
	margin:0 0 78px;
}
.schedule__text {
	padding-left:3.9%;
	margin:0 20px 47px 30.5%;
}
.schedule__gallery {
	margin:0 0 0 16.4%;
}
.schedule__slider {
	position:relative;
	width:1080px;
	width:calc(100% + 10px);
	padding:0 0 62px;
	margin:0 0 0 -5px;
}
.schedule__slider .slick-prev,
.schedule__slider .slick-next {
	position:absolute;
	bottom:0;
	width:42px;
	height:42px;
	cursor:pointer;
	background-color:transparent;
	background-image:url('../img/welcome-arrows.png');
	background-repeat:no-repeat;
	background-size:84px 84px;
	opacity:0.8;
	-webkit-transition:opacity 0.3s ease-out;
	transition:opacity 0.3s ease-out;
}
.schedule__slider .slick-prev {
	left:25px;
	background-position:-42px 0;
}
.schedule__slider .slick-next {
	left:77px;
	background-position:-42px -42px;
}
.schedule__slider .slick-prev:hover,
.schedule__slider .slick-next:hover {
	opacity:1;
}
.schedule__slider .slick-prev.slick-disabled,
.schedule__slider .slick-next.slick-disabled {
	opacity:0.4;
	cursor:default;
}
.schedule__item {
	padding:0 5px;
	opacity:0;
	-webkit-transition:opacity 0.5s ease-out;
	transition:opacity 0.5s ease-out;
}
.schedule__item.slick-active {
	opacity:1;
}
.item-schedule {
	height:390px;
	background:#d0d0d0;
	-webkit-border-radius:4px;
	border-radius:4px;
}
.menu {
	margin:0 0 130px;
}
.menu__text {
	padding-left:3.9%;
	margin:0 20px 75px 30.5%;
}
.menu__core {
	position:relative;
	height:520px;
}
.menu__core:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
}
.menu__row {
	position:absolute;
	left:220px;
	left:17.2%;
	top:0;
	z-index:1;
	width:840px;
	width:65.6%;
	height:100%;
}
.menu__item {
	position:absolute;
	left:50%;
	top:0;
	width:50%;
	height:100%;
}
.menu__item:first-child {
	left:0;
}
.item-menu {
	position:absolute;
	left:50%;
	top:50%;
	display:block;
	width:190px;
	height:190px;
	color:#fefefe;
	font-size:28px;
	line-height:36px;
	font-weight:bold;
	font-family:'Alegreya', serif;
	text-align:center;
	padding:102px 0 0;
	margin:-95px 0 0 -95px;
	background:#382016;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.icon-dish {
	position:absolute;
	top:34px;
	left:50%;
	display:block;
	width:81px;
	height:55px;
	margin-left:-40px;
	background:url('../img/dish-icon.png') no-repeat 0 0;
	background-size:81px 55px;
}
.icon-glass {
	position:absolute;
	top:36px;
	left:50%;
	display:block;
	width:38px;
	height:55px;
	margin-left:-19px;
	background:url('../img/glass-icon.png') no-repeat 0 0;
	background-size:38px 55px;
}
.photos {
	margin:0 0 81px;
}
.photos__text {
	padding-left:3.9%;
	margin:0 20px 144px 30.5%;
}
.photos__grid {
	font-size:0;
	margin:0 10px -20px;
}
.photos__item {
	position:relative;
	display:inline-block;
	width:16.66%;
	padding:0 10px;
	margin:0 0 20px;
}
.item-photo {
	position:relative;
	display:block;
	height:190px;
}
.item-photo_all:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.86);
}
.item-photo_all p {
	position:absolute;
	left:0;
	top:50%;
	z-index:1;
	width:100%;
	color:#ffffff;
	font-size:20px;
	line-height:24px;
	font-weight:600;
	text-align:center;
	padding:0 20px;
	margin-top:-3px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.contacts {
	position:relative;
	min-height:190px;
	margin:0 20px 49px;
	background:#ffffff;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 0 6px rgba(0,0,0,0.17);
	box-shadow:0 0 6px rgba(0,0,0,0.17);
}
.contacts--logo {
	position:absolute;
	left:40px;
	top:43px;
	width:24.1%;
}
.contacts--logo img {
	width:100%;
	height:auto;
}
.contacts__core {
	position:relative;
	padding-left:3.9%;
	margin:0 20px 0 30.5%;
}
.contacts__text {
	display:inline-block;
	width:285px;
	padding:21px 0 34px;
	margin-right:27px;
}
.contacts__text--title {
	display:block;
	font-size:20px;
	line-height:26px;
	font-weight:600;
	margin:0 0 5px;
}
.contacts__text p {
	font-size:16px;
	line-height:26px;
	margin:0;
}
.contacts--social {
	display:inline-block;
	margin-top:66px;
}
.contacts--social a {
	margin:0 17px 0 0;
}
.contacts--map {
	position:absolute;
	right:0;
	top:16px;
	display:block;
	width:295px;
	height:160px;
	height:calc(100% - 30px);
	border:5px solid #f4f4f4;
}
.contacts--map p {
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	font-size:20px;
	line-height:26px;
	font-weight:bold;
	text-align:center;
	padding:0 20px;
	margin-top:-2px;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
.footer-clear {
	clear:both;
	overflow:hidden;
	height:130px;
}
.footer {
	position:relative;
	z-index:2;
	margin-top:-130px;
	background:#626367;
	-webkit-box-shadow:inset 0 4px 3px rgba(0,0,0,0.09);
	box-shadow:inset 0 4px 3px rgba(0,0,0,0.09);
}
.footer__row {
	position:relative;
	max-width:1320px;
	height:130px;
	color:#ffffff;
	font-size:16px;
	line-height:26px;
	padding:0 20px;
	margin:0 auto;
}
.icon-adults {
	position:absolute;
	left:40px;
	top:50%;
	display:block;
	width:48px;
	height:48px;
	margin-top:-31px;
	background:url('../img/adults-icon.png') no-repeat 0 0;
	background-size:48px 48px;
}
.footer--copy {
	position:absolute;
	left:125px;
	top:50%;
	display:block;
	margin-top:-19px;
}
.footer--author {
	position:absolute;
	right:40px;
	top:50%;
	display:block;
	margin-top:-19px;
}
.footer--author img {
	width:122px;
	height:auto;
	margin:-5px 0 0 8px;
}
.navigator {
	position:fixed;
	left:0;
	top:50%;
	z-index:100;
	width:150px;
	background:rgba(255,255,255,0.85);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	-webkit-border-radius:0 8px 8px 0;
	border-radius:0 8px 8px 0;
}
.navigator__row {
	padding:15px 20px 20px;
}
.navigator--link {
	display:block;
	font-size:14px;
	line-height:20px;
	font-weight:600;
	text-transform:uppercase;
	padding:2px 0 2px 6px;
	margin:16px 0 0;
	border-bottom:2px solid #e41d37;
}
.navigator--link:first-child {
	margin-top:0;
}
.bg {
	position:fixed;
	left:50%;
	top:0;
	width:1280px;
	height:100%;
	margin-left:-640px;
}
.bg__row {
	overflow:hidden;
	position:absolute;
	left:30.5%;
	top:0;
	height:100%;
	background:#f5efcb;
}
.bg__inner {
	position:absolute;
	left:-3%;
	top:-3%;
	width:106%;
	height:106%;
}
.bg__inner div {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:url('../img/bg-pattern.jpg') no-repeat 50% 50%;
	background-size:cover;
}
#map {
	display:none;
	width:100%;
	height:100%;
}
@media all and (max-width:1279px) {
	.contacts--social {
		display:none;
	}
}
@media all and (max-width:1199px) {
	.header--logo {
		width:22%;
	}
}
@media all and (max-width:1099px) {
	.header--logo {
		width:22%;
	}
	.header--social {
		top:32px;
	}
	.header__lc {
		width:69.5%;
	}
	.header--phone {
		position:absolute;
		right:20px;
		top:32px;
	}
}
@media all and (max-width:999px) {
	.navigator {
		display:none;
	}
	.bg__row {
		left:0;
	}
	.header {
		height:110px;
	}
	.header--logo {
		left:10px;
		width:210px;
		margin-top:-6px;
	}
	.header__lc {
		left:270px;
		width:calc(100% - 270px);
		padding-left:0;
		margin-top:32px;
	}
	.welcome {
		margin:0 10px 50px;
	}
	.header--social {
		right:10px;
		top:18px;
	}
	.social-links a {
		width:30px;
		height:30px;
		margin-left:10px;
		background-size:30px 30px;
	}
	.header--phone {
		right:10px;
		top:28px;
	}
	.about {
		margin:0 10px 60px;
	}
	.title-h1 {
		margin:0 0 30px;
	}
	.about__text {
		padding-left:0;
		margin:0 0 40px;
	}
	.about__gallery {
		margin:0;
	}
	.schedule {
		margin:0 10px 60px;
	}
	.schedule__text {
		padding-left:0;
		margin:0 0 40px;
	}
	.schedule__gallery {
		margin:0;
	}
	.schedule__slider .slick-prev {
		left:5px;
	}
	.schedule__slider .slick-next {
		left:57px;
	}
	.menu {
		margin:0 10px 60px;
	}
	.menu__text {
		padding-left:0;
		margin:0 0 40px;
	}
	.photos {
		margin:0 10px 60px;
	}
	.photos__text {
		padding-left:0;
		margin:0 0 40px;
	}
	.photos__grid {
		width:calc(100% + 20px);
		margin:0 0 -20px -10px;
	}
	.contacts {
		margin:0 10px 40px;
	}
	.contacts--logo {
		display:none;
	}
	.contacts__core {
		padding-left:20px;
		margin:0 20px 0 0;
	}
	.footer-clear {
		height:100px;
	}
	.footer {
		margin-top:-100px;
	}
	.footer__row {
		height:100px;
	}
	.icon-adults {
		left:30px;
	}
	.footer--copy {
		left:115px;
	}
	.footer--author {
		right:30px;
	}
	.menu__row {
		left:10%;
		width:80%;
	}
	.item-menu {
		width:140px;
		height:140px;
		font-size:22px;
		line-height:28px;
		padding-top:80px;
		margin:-70px 0 0 -70px;
	}
	.icon-dish,
	.icon-glass {
		margin-top:-10px;
		-webkit-transform-origin:50% 0;
		transform-origin:50% 0;
		-webkit-transform:scale(0.75);
		transform:scale(0.75);
	}
	.photos__item {
		width:33.33%;
	}
}
@media all and (max-width:759px) {
	.header__lc {
		left:0;
	}
	.photos__item {
		width:50%;
	}
	.title-h1 {
		font-size:24px;
		line-height:32px;
		margin:0 0 16px;
	}
	.about__text p {
		font-size:14px;
		line-height:22px;
		margin:0 0 14px;
	}
	.header {
		height:auto;
	}
	.header--logo {
		left:0;
		top:15px;
		width:180px;
		margin-top:0;
		-webkit-transform:none;
		transform:none;
	}
	.header__lc {
		position:static;
		float:none;
		width:auto;
		padding:70px 0 20px;
		margin-top:0;
	}
	.header--address {
		float:none;
		width:170px;
		font-size:14px;
		line-height:20px;
		margin:0;
	}
	.header--social {
		right:0;
		top:25px;
	}
	.header--phone {
		float:none;
		position:static;
		font-size:20px;
		line-height:26px;
		margin-top:5px;
	}
	.welcome {
		width:calc(100% + 40px);
		margin:0 0 25px -20px;
	}
	.welcome__slider .slick-prev,
	.welcome__slider .slick-next {
		width:50px;
	}
	.welcome__slider .slick-prev:before,
	.welcome__slider .slick-next:before {
		width:30px;
		height:30px;
		margin-top:-10px;
		background-size:60px 60px;
	}
	.welcome__slider .slick-prev:before {
		left:10px;
		background-position:0 0;
	}
	.welcome__slider .slick-next:before {
		right:10px;
		background-position:0 -30px;
	}
	.welcome__slider {
		margin:0 0 8px;
	}
	.welcome__text {
		height:20px;
		margin:0 20px;
	}
	.welcome__text span {
		font-size:16px;
		line-height:20px;
	}
	.about {
		overflow:hidden;
		width:calc(100% + 40px);
		padding:0 20px;
		margin:0 0 30px -20px;
	}
	.about__text {
		overflow:hidden;
		margin:0 0 20px;
	}
	.about__grid {
		width:calc(100% + 50px);
		margin-left:-20px;
		margin-top:-5px;
	}
	.about__item:nth-child(1) {
		left:0;
		top:0;
		width:50%;
		width:calc(50% - 10px);
		height:50%;
		height:calc(50% - 10px);
	}
	.about__item:nth-child(2) {
		left:50%;
		top:0;
		width:50%;
		width:calc(50% - 10px);
		height:25%;
		height:calc(25% - 10px);
	}
	.about__item:nth-child(3) {
		left:0;
		top:50%;
		width:100%;
		width:calc(100% - 10px);
		height:25%;
		height:calc(25% - 10px);
	}
	.about__item:nth-child(4) {
		left:50%;
		top:25%;
		width:50%;
		width:calc(50% - 10px);
		height:25%;
		height:calc(25% - 10px);
	}
	.about__item:nth-child(5) {
		left:0;
		top:75%;
		width:50%;
		width:calc(50% - 10px);
		height:25%;
		height:calc(25% - 10px);
	}
	.about__item:nth-child(6) {
		left:50%;
		top:75%;
		width:50%;
		width:calc(50% - 10px);
		height:25%;
		height:calc(25% - 10px);
	}
	.schedule {
		margin:0 0 30px;
	}
	.schedule__text {
		margin:0 0 20px;
	}
	.schedule__slider {
		width:calc(100% + 10px);
		padding:0 0 40px;
		margin:0 0 0 -5px;
	}
	.schedule__slider .slick-prev,
	.schedule__slider .slick-next {
		width:30px;
		height:30px;
		background-size:60px 60px;
	}
	.schedule__slider .slick-prev {
		background-position:-30px 0;
	}
	.schedule__slider .slick-next {
		left:45px;
		background-position:-30px -30px;
	}
	.photos__text {
		margin:0 0 20px;
	}
	.photos__grid {
		width:calc(100% + 10px);
		margin:0 0 -10px -5px;
	}
	.photos__item {
		padding:0 5px;
	}
	.photos {
		margin:0 0 20px;
	}
	.item-photo_all p {
		font-size:18px;
		line-height:24px;
		padding:0 15px;
	}
	.menu {
		margin:0 0 25px;
	}
	.menu__text {
		margin:0 0 20px;
	}
	.menu__core {
		width:calc(100% + 40px);
		margin-left:-20px;
	}
	.menu__row {
		left:10px;
		width:calc(100% - 20px);
	}
	.item-menu {
		width:100px;
		height:100px;
		padding-top:55px;
		font-size:15px;
		line-height:20px;
		margin:-50px 0 0 -50px;
	}
	.icon-dish,
	.icon-glass {
		margin-top:-15px;
		-webkit-transform:scale(0.5);
		transform:scale(0.5);
	}
	.contacts__text {
		display:block;
		width:auto;
		padding:15px 0;
		margin:0;
	}
	.contacts__text p {
		font-size:15px;
		line-height:22px;
	}
	.contacts__text--title {
		font-size:18px;
		line-height:24px;
	}
	.contacts {
		padding:0 0 20px;
		margin:0 0 30px;
	}
	.contacts--map {
		position:relative;
		right:auto;
		top:auto;
		width:240px;
		height:130px;
		margin:0 auto;
	}
	.footer-clear {
		display:none;
	}
	.footer {
		margin-top:0;
	}
	.icon-adults {
		left:20px;
		top:18px;
		width:30px;
		height:30px;
		margin-top:0;
		background-size:30px 30px;
	}
	.footer__row {
		height:110px;
		font-size:14px;
		line-height:20px;
	}
	.footer--copy {
		left:65px;
		top:23px;
		margin-top:0;
	}
	.footer--author {
		right:auto;
		left:20px;
		top:82px;
	}
	.footer--author img {
		width:80px;
		margin:-1px 0 0 3px;
	}
}